@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    /* colors */
    --mob-nav-bg: #0d0b14;

    --post-add-btn-background: #e11a3f;
    --post-add-btn-background-hover: #d3183b;
    --primary-color: #1072bc;
    --button-primary-color: #1AA0E3;
    --button-text-color: #ffffff;
    --text-color-white: #fff;
    --primary-text-color: #707070;
    --form-bg-color: rgba(16, 113, 188, 0.55);
    --card-border-color: #dadada;
    --blue: #007bff;
    --white: #fff;
    --black: #000;
    --black-50: hsla(0, 0%, 100%, 0.3);

    /* font sizes */
    --hero-font-size: 4.68rem;
    --nav-font-size: 1.1rem;
    --hero-sub-font-size: 1.25rem;
    --default-font-size: 1rem;
    --header-font-size: 1rem;
    --h2 : 1.375rem;

    /* Border radius */
    --default-border-radius: .3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

/* Site pre loader style */
#site-preloader{
    width: 100%;
    height: 100vh;
    background-color: var(--button-primary-color);
    overflow: hidden;
    position: fixed;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-preloader i{
    font-size: 2rem;
}

/* Navigation Style */
.container{
    padding: .5rem;
}

nav img{
    max-width: 155px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#primary-navigation li i{
    margin: 0rem 0rem .5rem .5rem;
}

.main-nav-links ul li a,i,.site-login a{
    color: var(--white);
    font-size: var(--nav-font-size);
}

.main-nav-links  li a,.site-login a{
    text-decoration: none;
}

.site-login{
    display: none;
}

.site-login button{
    border: 1px solid var(--white);
    border-radius: var(--default-border-radius);
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--post-add-btn-background);
    transition: background 350ms ease-out;
    color: var(--white);
    padding: .7rem 1.1rem;
    cursor: pointer;
}

.site-login button:hover{
    background-color: var(--post-add-btn-background-hover);
}

@media (max-width: 1200px) {
    .main-navigation{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: var(--blue);
        padding: min(30vh, 10rem) 2rem;
        
        background: rgba(0, 0, 0, 0.75);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .main-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    #primary-navigation{
        gap: 2rem;
    }

    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        display: block;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle i{
        font-size: 2rem;
    }

    @supports (backdrop-filter: blur(1rem)){
        .main-navigation{
            background: hsla(205, 100%, 50%, 0.5);
            backdrop-filter: blur(1rem);
        }
    }
}

/* Hero background */
#hero{
    width: 100%;
    height: 100vh;
    background-image: url("../images/home_slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Home search form style */
.home-search-form{
    color: var(--text-color-white);
    text-align: center;
}

.home-search-form h1{
    font-size: var(--hero-font-size);
    font-weight: 600;
    margin: 4rem 0rem 0rem 0rem;
}

.home-search-form p{
    font-size: var(--hero-sub-font-size);
    font-weight: 300;
    padding: 1rem 0rem;
    max-width: 70%;
    margin: 0 auto;
}

form {
    min-width: 92vw;
}

form input[type=text]{
    min-width: 85%;
    min-height: 2.8rem;
    border-radius: var(--default-border-radius);
    padding: 0rem .8rem;
    outline: none;
    border: none;
    font-size: var(--default-font-size);
    color: var(--primary-text-color);
}

.frm-inputs div{
    margin-right: .6rem;
}

.frm-inputs div{
    display: flex;
    align-items: center;
    background-color: var(--white);
    min-width: 100%;
    min-height: 2.8rem;
    border-radius: var(--default-border-radius);
    margin-bottom: .6rem;
}

.frm-inputs div i{
    padding: 0rem .8rem;
    min-width: 5%;
}

form .frm-inputs i{
    cursor: pointer;
    color: var(--primary-text-color);
}

form .frm-search-btns{
    display: flex;
    justify-content: space-between;
}

.frm-search-btns button{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: var(--default-font-size);
    cursor: pointer;
    color: var(--text-color-white);
    background-color: var(--button-primary-color);
}

.frm-search-btns button:first-child{
    margin-right: .3rem;
}

.frm-search-btns button:nth-child(2){
    margin-left: .3rem;
}

form {
    display: inline-block;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--form-bg-color);
}

/* Style main link cards */
.main-cards a{
    text-decoration: none;
}

.main-cards a h2{
    font-weight: 500;
    font-size: var(--h2);
    color: var(--black);
    margin-bottom: .5rem;
    line-height: 1.2;
}

.main-cards a p,span{
    font-weight: 300;
    font-size: var(--default-font-size);
    color: var(--primary-text-color);
    margin-bottom: .313rem;
    line-height: 1.4;
}

.main-cards a:hover{
    background-color: var(--button-primary-color);
    border-radius: var(--default-border-radius);
    transition: all 450ms ease-in-out;
}

.main-link-card-grid{
    display: grid;
    gap: 1rem;
    margin: 3rem 0rem;
}

.main-link-card{
    height: auto;
    padding: 1.25rem;
    border: 1px solid var(--card-border-color);
    border-radius: var(--default-border-radius);
}

/* Search form dropdown style */
.location{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    right: -.53rem;
    top: calc(100% + 1rem);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 1;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.location > input:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Property banner carousel style */
.carousel{
    position: relative;
    max-width: 100%;
    height: 25rem;
}

.carousel-images{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 8;
}

.carousel-track-container{
    background-color: #d3183b;
}

.carousel-track-container ul{
    list-style: none;
}

.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carousel-btn i{
    opacity: .8;
    color: var(--white);
    font-size: 1.5rem;
}

.carousel-btn--left{
    left: 2rem;
}

.carousel-btn--right{
    right: 2rem;
}

.carousel-indicator{
    background-color: var(--black-50);
    border: none;
    cursor: pointer;
    padding: .1rem 1rem;
}

.carousel-nav{
    position: absolute;
    bottom: 3rem;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}

.current-slide{
    background-color: var(--white);
}






/* Medium devices (landscape tablets, 768px and up) Style*/
@media only screen and (min-width: 768px){
    #hero{
        height: 75vh;
    }
    /* home-search-form style */
    .frm-inputs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .6rem;
    }

    .site-login{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 5.5rem;
        margin-top: .5rem;
    }

    .site-login-nav-link{
        display: none;
    }

    /* Property banner carousel style */
    .carousel{
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 1200px and up) Style*/
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1280px;
        margin: 0 auto;
    }

    #hero{
        height: 75vh;
    }

    /* Navigation style */
    .site-login{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-top: 0rem;
    }
    
    nav img{
        margin: .5rem 0rem;
    }

    .mobile-nav-toggle{
        display: none;
    }

    .main-navigation{
        display: flex;
        flex-wrap: nowrap;
    }

    #primary-navigation{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;

    }

    #primary-navigation li:nth-child(7){
        display: none;
    }

    #primary-navigation li:nth-child(8){
        display: none;
    }

    /* home-search-form style */
    .home-search-form h1{
        margin: 8rem 0rem 0rem 0rem;
    }

    form {
        margin: 0rem 4rem;
        min-width: auto;
    }

    form .frm-inputs i{
        padding-right: 8rem;
    }

    .search-form{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .frm-inputs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
    }

    form input[type=text]:nth-child(2){
        margin-left: .6rem;
        margin-right: .6rem;
    }

    form input[type=text]:nth-child(3){
        margin-right: .6rem;
    }

    .frm-inputs div{
        display: flex;
        min-width: 20%;
        margin-bottom: 0rem;
    }

    .frm-search-btns{
        width: 100%;
    }

    /* Style main link cards */
    .main-link-card-grid{
        display: flex;
        gap: 2rem;
    }

    .main-cards{
        margin: 3rem 0rem;
    }

    /* Property banner carousel style */
    .carousel{
        max-width: 75%;
    }
}
