@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    /* colors */
    --mob-nav-bg: #0d0b14;

    --post-add-btn-background: #e11a3f;
    --primary-color: #1072bc;
    --button-primary-color: #1AA0E3;
    --button-text-color: #ffffff;
    --text-color-white: #fff;
    --primary-text-color: #707070;
    --form-bg-color: rgba(16, 113, 188, 0.55);
    --blue: #007bff;
    --white: #fff;

    /* font sizes */
    --hero-font-size: 4.68rem;
    --nav-font-size: 1.1rem;
    --hero-sub-font-size: 1.25rem;
    --default-font-size: 1rem;
    --header-font-size: 1rem;

    /* Border radius */
    --default-border-radius: .3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

/* Navigation Style */
.container{
    padding: .5rem;
}

nav img{
    max-width: 155px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#primary-navigation li i{
    margin: 0rem 0rem .5rem .5rem;
}

.main-nav-links ul li a,i,.site-login a{
    color: var(--white);
    font-size: var(--nav-font-size);
}

.main-nav-links  li a,.site-login a{
    text-decoration: none;
}

.site-login{
    display: none;
}

.site-login button{
    border: 1px solid var(--white);
    border-radius: var(--default-border-radius);
    font-size: var(--default-font-size);
    background-color: var(--post-add-btn-background);
    color: var(--white);
    padding: .8rem 1.1rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .main-navigation{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: var(--blue);
        padding: min(30vh, 10rem) 2rem;
        
        background: rgba(0, 0, 0, 0.75);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .main-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    #primary-navigation{
        gap: 2rem;
    }

    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        display: block;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle i{
        font-size: 2rem;
    }

    @supports (backdrop-filter: blur(1rem)){
        .main-navigation{
            background: hsla(205, 100%, 50%, 0.1);
            backdrop-filter: blur(1rem);
        }
    }
}

/* Hero background */
#hero{
    width: 100%;
    height: 100vh;
    background-image: url("../images/home_slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Home search form style */
.home-search-form{
    color: var(--text-color-white);
    text-align: center;
}

.home-search-form h1{
    font-size: var(--hero-font-size);
    font-weight: 600;
    margin: 4rem 0rem 0rem 0rem;
}

.home-search-form p{
    font-size: var(--hero-sub-font-size);
    font-weight: 300;
    padding: 1rem 0rem;
    max-width: 70%;
    margin: 0 auto;
}

form {
    min-width: 92vw;
}

form input[type=text]{
    min-width: 85%;
    min-height: 2.8rem;
    border-radius: var(--default-border-radius);
    padding: 0rem .8rem;
    outline: none;
    border: none;
    font-size: var(--default-font-size);
    color: var(--primary-text-color);
}

.frm-inputs div{
    margin-right: .6rem;
}

.frm-inputs div{
    display: flex;
    align-items: center;
    background-color: var(--white);
    min-width: 100%;
    min-height: 2.8rem;
    border-radius: var(--default-border-radius);
    margin-bottom: .6rem;
}

.frm-inputs div i{
    padding: 0rem .8rem;
    min-width: 5%;
}

form .frm-inputs i{
    cursor: pointer;
    color: var(--primary-text-color);
}

form .frm-search-btns{
    display: flex;
    justify-content: space-between;
}

.frm-search-btns button{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: var(--default-border-radius);
    font-size: var(--default-font-size);
    cursor: pointer;
    color: var(--text-color-white);
    background-color: var(--button-primary-color);
}

.frm-search-btns button:first-child{
    margin-right: .3rem;
}

.frm-search-btns button:nth-child(2){
    margin-left: .3rem;
}

form {
    display: inline-block;
    padding: .8rem;
    border-radius: .5rem;
    background-color: var(--form-bg-color);
}

/* Medium devices (landscape tablets, 768px and up) Style*/
@media only screen and (min-width: 768px) {
    .container{
        max-width: 1280px;
        margin: 0 auto;
    }

    #hero{
        height: 75vh;
    }

    /* Navigation style */
    .mobile-nav-toggle{
        display: none;
    }

    .site-login{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    

    nav img{
        margin: .5rem 0rem;
    }

    .main-navigation{
        display: flex;
    }

    #primary-navigation{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
    }

    /* home-search-form style */
    .home-search-form h1{
        margin: 8rem 0rem 0rem 0rem;
    }

    form {
        margin: 0rem 4rem;
        min-width: auto;
        display: flex;
    }
    
    .frm-inputs{
        display: flex;
    }

    form input[type=text]:nth-child(2){
        margin-left: .6rem;
        margin-right: .6rem;
    }

    form input[type=text]:nth-child(3){
        margin-right: .6rem;
    }

    .frm-inputs div{
        display: flex;
        min-width: 20%;
        margin-bottom: 0rem;
    }

    .frm-search-btns{
        width: 100%;
    }
}
