@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    /* colors */
    --mob-nav-bg: #0d0b14;

    --post-add-btn-background: #e11a3f;
    --post-add-btn-background-hover: #d3183b;
    --primary-color: #1072bc;
    --button-primary-color: #1AA0E3;
    --button-text-color: #ffffff;
    --text-color-white: #fff;
    --primary-text-color: #707070;
    --form-bg-color: rgba(16, 113, 188, 0.55);
    --footer-top-background-color: #242424;
    --card-border-color: #dadada;
    --footer-bottom-color: #1e1e1e;
    --blue: #007bff;
    --white: #fff;
    --black: #000;
    --black-50: hsla(0, 0%, 100%, 0.3);

    /* font sizes */
    --hero-font-size: 4.68rem;
    --nav-font-size: 1.1rem;
    --hero-sub-font-size: 1.25rem;
    --default-font-size: 1rem;
    --header-font-size: 1rem;
    --h2 : 1.375rem;
    --main-heading-2 : 3.75rem;
    --counter-font-size: 2rem;

    /* Border radius */
    --default-border-radius: .3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

/* Site pre loader style */
#site-preloader{
    width: 100%;
    height: 100vh;
    background-color: var(--button-primary-color);
    overflow: hidden;
    position: fixed;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-preloader i{
    font-size: 2rem;
}

/* Navigation Style */
.container{
    padding: .5rem;
}

nav img{
    max-width: 155px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#primary-navigation li i{
    margin: 0rem 0rem .5rem .5rem;
}

.main-nav-links ul li a,i,.site-login a{
    color: var(--footer-bottom-color);
    font-size: var(--nav-font-size);
}

.main-nav-links  li a,.site-login a{
    text-decoration: none;
}

.site-login{
    display: none;
}

.site-login button{
    border: 1px solid var(--white);
    border-radius: var(--default-border-radius);
    font-size: 1.1rem;
    font-weight: 400;
    background-color: var(--post-add-btn-background);
    transition: background 350ms ease-out;
    color: var(--white);
    padding: .7rem 1.1rem;
    cursor: pointer;
}

.site-login button:hover{
    background-color: var(--post-add-btn-background-hover);
}

@media (max-width: 1200px) {
    .main-navigation{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        background: var(--blue);
        padding: min(30vh, 10rem) 2rem;
        
        background: rgba(0, 0, 0, 0.75);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .main-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    #primary-navigation{
        gap: 2rem;
    }

    .mobile-nav-toggle{
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        display: block;
        border: none;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle i{
        font-size: 2rem;
    }

    @supports (backdrop-filter: blur(1rem)){
        .main-navigation{
            background: hsla(205, 100%, 50%, 0.5);
            backdrop-filter: blur(1rem);
        }
    }
}

/* Home search form style */
.home-search-form{
    color: var(--text-color-white);
    text-align: center;
}

/* Style footer */
.footer-links{
    padding: 3rem 0.938rem 0 0.938rem;
    background-color: var(--footer-top-background-color);
}

.footer img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-style: none;
}

.footer a, span, p{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: var(--primary-text-size);
}

.footer h3{
    color: var(--white);
    font-size: var(--primary-text-size);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 0.044rem;
    font-weight: 500;
    line-height: 1.188rem;
    color: var(--card-border-color);
}

.footer-contact li a{
    display: block;
}

.footer ul{
    list-style: none;
}

.footer li{
    margin-bottom: .5rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.footer-contact p{
    padding-top: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.frm-newsletter form{
    display: flex;
    background-color: transparent;
    border: none;
}

.frm-newsletter form input[type="email"]{
    background-color: transparent;
    border: none;
}

.frm-newsletter form input[type="email"]:focus{
    border: none;
}

.frm-newsletter form button[type="submit"]{
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--primary-text-color);
}

.frm-newsletter form {
    background-color: transparent;
    border: .12rem solid var(--primary-text-color);
}

/* Style footer bar */
.footer-bar{
    background-color: var(--footer-bottom-color);
}

/* Style footer bar */
.footer-bar-columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.social-icons ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: var(--primary-text-size);
}

.hexacode-link a,.back-to-top a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight:500;
    font-size: var(--primary-text-size);
}

.back-to-top a{
    font-size: var(--primary-text-size);
}

.back-to-top i{
    padding-right: .5rem;
    color: var(--primary);
    font-size: var(--primary-text-size);
}

.footer-bar-columns{
    padding: 1rem 0;
}



/* Medium devices (landscape tablets, 768px and up) Style*/
@media only screen and (min-width: 768px){
    /* Style Footer */
    .footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr)
    }

    .footer-contact li a{
        display: inline-block;
        padding-left: .5rem;
        transition: all 300ms ease-in;
    }
    .footer li a{
        transition: all 300ms ease-in;
    }

    .footer li a:hover{
        color: var(--primary-color);
    }

    .footer-contact li a:hover{
        color: var(--primary-color);
    }

    .frm-newsletter form{
        max-width: 75%;
        margin-top: 1rem;
    }

    .frm-newsletter form input{
        padding-left: .4rem;
        color: var(--primary-text-color);
        font-size: var(--default-font-size);
    }

    .frm-newsletter form button i{
        padding: .4rem;
    }

    .footer-links{
        padding: 5rem 0;
    }

    /* Style footer bar */
    .footer-bar-columns{
        display: flex;
        justify-content: space-between;
    }

    .social-icons ul{
        list-style: none;
        display: flex;
        gap: 1rem;
        font-size: var(--primary-text-size);
    }
}






/* Medium devices (landscape tablets, 1200px and up) Style*/
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 1280px;
        margin: 0 auto;
    }

    /* Navigation style */
    .site-login{
        gap: 1rem;
        margin: 0rem;
    }
    
    nav img{
        margin: .5rem 0rem;
    }

    .mobile-nav-toggle{
        display: none;
    }

    .main-navigation{
        display: flex;
        flex-wrap: nowrap;
    }

    #primary-navigation{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;

    }

    #primary-navigation li:nth-child(7){
        display: none;
    }

    #primary-navigation li:nth-child(8){
        display: none;
    }


}